@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 12%);
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }

  .button {
    @apply rounded-md bg-blue-500 py-2 px-4 font-bold text-white cursor-pointer
     hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-200
     dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-500
     active:bg-blue-900 active:dark:bg-blue-800 transition-colors duration-150;
  }
}
